{
	padding:;
	margin: ;
	box-sizing: border-box;
}

body {
	font-family: "lato";
}

.wrapper {
	display:row;
	justify-content:center;
	align-items: center;
	width: relative;
	height: relative;
	background-color:#81ecec;
	
}
.wrapper1 {
	
	
	width:relative;
	height:relative;
	background-color:#81ecec;
	
	
}

.wrapper2 {
	display:;
	justify-content:center;
	align-items: center;
	width:relative;
	height: 100%;
	background-color:#81ecec;
	font-size:18px;
	
	
}

.congrats{
	width:80%;
	height:relative;
	box-shadow:0px 2px 5px 1px rgba(0.5, 0.5, 0.5, 0.5);
	z-index:2;
	font-size:25px;
	background-color:#f53b57;
	
	
}
.welcome_text {
	background-color:;
	width:70%;
	margin-left:15%;
	margin-top:20%;
}
.welcome_form input, 
.welcome_form button {
	display:block;
	width:100%;
}
.welcome_form input {
	margin-bottom:15px;
	background-color:transparent;
	border:none;
	border-bottom: 2px solid #fff;
	color:white;
	font-size:25px;
	text-align:center;
}
.welcome_form button {
	font-size:40px;
	paading:20 10px;
	background-color:#c8d6e5;
	color: #341f97;
	border:none;
	border:radius:100px;
	transition:0.5s all;
}
.welcome_form button:hover {
	transform: translatey(-5px);
	cursor:pointer;
}
.welcome_form input:focus, 
.welcome_form button:focus {
	outline: none;
}

.quiz {
	border-radius:3px;
	display:grid;
	grid-template-rows: 60px auto;
	width:90%;
	height:relative;
	background-color:#00cec9;
	box-shadow:0px 2px 5px 1px rgba(0, 0, 0, 0.3);
	margin-left:5%;
	font-size:20px;
}
.quiz_header {
	display:flex;
	justify-content:space-between;
	background-color:#2f3542;
	border-top-left-radius:px;
	border-top-right-radius:px;
	box-shadow:0px 2px 5px 1px rgba(0, 0, 0, 0.3);
	z-index:2;
	color:#2ed573;
	
}

.quiz_body {
	background-color:#48dbfb;
	padding:15px;
	height:relative;
	color:red;
}

.quiz_user {
	display:flex;
	align-items:center;
	padding-left:3px;
	
}

.quiz_timer {
	display:flex;
	align-items:center;
	padding-right:5px;
	padding-left:5px;
	background-color:#2f3542;
}
.option_group {
	list-style:none;
	margin:15px 0 ;
	margin-left:-20px;
}
.option {
	background-color:#ffffff;
	width:70%;
	padding:5px 5px;
	margin-bottom:10px;
	border-radius:10px;
	border:2px solid transparent;
	box-shadow:0px 0px 10px 2px rgba(0, 0, 0, 0.1);
	font-size:20px;
	color:#1e3799;
}

.option:hover {
	cursor: pointer;
	border: 2px solid #341f97;
}
.btn-next {
	background-color:#0984e3;
	color:#fff;
	padding:15px 35px;
	border:none;
	border-radius:20px;
	transition:0.4s all;
	font-size:13px;
	box-shadow:0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
.btn-next:hover {
	cursor:pointer;
	background-color:blue;
	color:#fff;
	box-shadow:0px 0px 10px 2px rgba(0, 0, 0, 0.3);
	font-size:17px;
}

.active {
	 background-color:#341f97;;
	 color:#fff !important;
 }
 
 .user_name,
 .user_points,
 .user_time {
	 color:#fff;
	 text-align:center;
	 margin-top:0px;
	 margin-bottom:0px;
 }







.shimmer {
  font-family: "Lato";
  font-weight: 100;
  font-size: 1REM;
  margin: 0 auto;
  padding: 20px;
  display: inline;
  margin-bottom: 0;
}
.shimmer {
  text-align: center;
  color: black;
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
  font-size:15px;
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}



.dropdwn{
	margin:0 auto;
	width:100%;
	height:relative;
}
nav{
	
	height:40px;
	background:#130f40;
	box-shadow: 0 10px 15px rgba(0,0,0,0,1);
	padding:10px;
	
}
.logo{
	padding: 0px 0 0 px;
	width:100PX;
	height:auto;
}
nav ul{
	padding: 0;
	margin:0;
	float:right;
	margin-right:px;
}
nav ul li{
	background:#f53b57;
	position:relative;
	list-style:none;
	display: inline-block;
	
}
nav ul li a{
	display:block;
	padding:0 5px;
	color:white;
	text-decoration:none;
	line-height:40px;
	font-size:9px;
}
nav ul li a:hover{
	background-color: red;
	
}
nav ul ul{
	position:absolute;
	top: 40px;
	display:none;
}
nav ul li:hover > ul {
	display: block;
}
nav ul ul li{
	width:70px;
	float:none;
	display:list-name;
	position:relative;
}
nav ul ul ul li{
	position: relative;
	top: -60px;
	left:150px;
}

